html {
    background: teal;
}

.recipes{
    width: 440px;
    background-color: chartreuse;
    font-family: "Times New Roman", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

h1,
h2{
    width: 600px;
    text-align: center;
    background-color: lightcoral;
}

p{
    width: 600px;
    background-color: rgb(112, 214, 157);
    font-size: 24px;
}

.ingredients,
.steps{
    font-size: 20px;
}
.ingredients{
    background-color: aqua;
    width: 400px;
}

.steps{
    background-color: plum;
}